@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter var', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  a {
    @apply text-indigo-600 transition-colors duration-200;
  }
  a:hover {
    @apply text-indigo-700;
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
